<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="fitcropper:applysizeselected" type="SitecoreInsiders.Feature.FitCropper.Commands.ApplySizeSelected, SitecoreInsiders.Feature.FitCropper" />
    </commands>
  </sitecore>
</configuration>